[Unit]
Description=Python Telegram bot for ULA Kyiv washers managing

# TEMPLATE

[Service]
User=
WorkingDirectory=
ExecStart=/usr/bin/python3 /path_to_script/.py
StartLimitBurst=5
Restart=always
RestartSec=30

#Config for brutia-pc
#[Service]
#User=brutia
#WorkingDirectory=/home/brutia/Work/python-chat-bot/
#ExecStart=/usr/bin/python3.6 /home/brutia/Work/python-chat-bot/main.py
# StartLimitBurst=5
# Restart=always
# RestartSec=30

[Install]
WantedBy=multi-user.target
